/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v34/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

div#login > div {
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

#loginform {
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 12px 24px 0 rgba(0,0,0,0.06);
  border-radius: 8px;
  padding: 40px 24px !important;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.btn.round {
  border-radius: 18px;
  width: auto;
  padding: 0;
}

.btn.fix {
  width: 120px;
  height: 36px;
}
.primary-bg {
  background: #429ACE;
}
.primary-bg:hover {
  background: rgb(105, 183, 228);
}
.submit {
  margin-top: 50px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}
form#loginform h3 {
  color: #429ACE;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

form#loginform p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
}
.tablescroll tr th {
  border: 1px solid #fff;
  padding: 3px;
  font-size: 12px;
  text-align: center;
}
.tablescroll tr td {
  border: 1px solid #cac8c8;
  padding: 3px;
  font-size: 12px;
}

.tablescroll .col-1-1 {
  background: RGB(64,64,64);
  color: #fff;
  font-weight: 400;
}

.tablescroll .col-1-2 {
  background: RGB(47,117,181);
  color: #fff;
  font-weight: normal;
}

.tablescroll .col-1-3 {
  background: RGB(198,89,17);
  color: #fff;
  font-weight: 300;
}

.tablescroll .col-1-4 {
  background: RGB(68,84,106);
  color: #fff;
  font-weight: 300;
}

.tablescroll .col-1-6 {
  background: red;
  color: #fff;
  font-weight: 300;
}

.tablescroll .col-1-7 {
  background: RGB(146,208,80);
  color: #fff;
  font-weight: 300;
}

.tablescroll .col-1-8 {
  background: RGB(112,173,71);
  color: #fff;
}
.tablescroll .col-2-1 {
  background: RGB(255,192,0);
}

.tablescroll .col-2-2 {
  background: RGB(155,194,230);
}

.tablescroll .col-2-3 {
  background: RGB(244,176,132);
}

.tablescroll .col-2-4 {
  background: RGB(219,219,219);
}

.tablescroll .col-2-5 {
  background: RGB(201,201,201);
}

.tablescroll .col-2-6 {
  background: RGB(226,239,218);
}
.tablescroll .col-3-1 {
  background: RGB(189,215,238);
}

.tablescroll .col-3-2 {
  background: RGB(248,203,173);
}

.tablescroll .col-3-3 {
  background: RGB(237,237,237);
}
.tablescroll .col-4-1 {
  background: RGB(237,237,237);
}

.tablescroll .col-4-2 {
  background: RGB(219,219,219);
}

.tablescroll .col-5-1 th {
  font-style: italic;
  font-weight: normal;
}
.textleft {
  text-align: left !important;
}
.textright {
  text-align: right;
}
.textcenter {
  text-align: center;
}

.tablescroll {
  overflow-x: auto;
  position: relative;
}
.fixedd {
  position: relative;
}
.tablescroll tr td {
  background: #fff;
}

table thead > tr:first-child .bdr:before {
  content: "";
  width: 1px;
  height: 100%;
  background: RGB(64,64,64);
  position: absolute;
  top: 0;
  right: -1px;
}

.tr-border th[border="1"]:nth-child(4):before,
table .scoll[border="1"]:before {
  content: "";
  width: 1px;
  height: 100%;
  background: #bfbfbf;
  position: absolute;
  top: 0;
  right: -1px;
}

table tbody tr td:first-child[border="1"]:after {
  content: "";
  width: 1px;
  height: 100%;
  background: #bfbfbf;
  position: absolute;
  top: 0;
  left: -1px;
}

.tr-border th:first-child:before {
  content: "";
  width: 1px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: -1px;
}

.tr-border th:first-child:after,
.tr-border th:nth-child(2):before,
.tr-border th:nth-child(3):before,
.tr-border th:nth-child(4):before {
  content: "";
  width: 1px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: -1px;
}

h3.i-title {
  color: RGB(192,0,0);
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  line-height: 1.3;
}

span.i-subtitle {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}

.message {
  margin-bottom: 20px;
  color: #8fbf00;
}

.message.error {
  color: #ff0000;
}

.mb-0 {
  margin-bottom: 0;
}

.tablescroll tr th {
  background: RGB(231,230,230)
}

.tablescroll tr th.bgwhiter {
  background: #fff;
}

.tablescroll .color-red {
  color: red;
}

.tablescroll .bg1 {
  background: RGB(255,255,204);
}




nav a.active {
  background: RGB(64,64,64);
}





.rawdata-table {
  overflow: auto;
}

.rawdata-table tr th {
  background: red;
  color: #fff;
    border-radius: 0;
}

.rawdata-table tr th.xanh {
  background: RGB(68,84,106);
}

.rawdata-table tr th, .rawdata-table tr td {
  padding: 0 10px;
  font-size: 13px;
}

.message.show {
  border: 1px solid #f00;
  padding: 10px;
}
/******************************************* Rawdata *********************************/
.rawdata-table tr th, 
.rawdata-table tr td {
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 10px;
}


/******************************************* CSS Loading *********************************/
.no-result{
  overflow-y: scroll;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9;
  background: rgba(255, 255, 255, .5);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 4px solid #2db84c;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2db84c transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}